body {
margin: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: #222;
font-family: sans-serif;
}


.grid {
display: grid;
grid-template-columns: repeat(5, 120px);
gap: 20px;
}


.box {
width: 120px;
height: 120px;
background: #4dabf7;
display: flex;
justify-content: center;
align-items: center;
color: white;
border-radius: 20px;
}


.box.rotate:hover {
transform: rotate(40deg);
}


.box.skew:hover {
transform: skew(40deg);
}


.box.scale {
transform: scale(1);
}


.box.scale:hover {
transform: scale(1.8);
}


.box.translate:hover {
transform: translate(20%, 30%);
}

.box.color:hover {
    background-color: red;
}